name: CI

on: [push, pull_request]

permissions:
  contents: read

jobs:
  FreeBSD-15:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        bs: [autotools, cmake]
    steps:
    - name: Launch Firecracker VM
      uses: acj/freebsd-firecracker-action@v0.6.0
      with:
        kernel-url: "https://libarchive.de/firecracker/15.0-RELEASE/freebsd-kern.bin"
        rootfs-url: "https://libarchive.de/firecracker/15.0-RELEASE/freebsd-rootfs.bin.xz"
        run-in-vm: |
          cd firecracker-freebsd
          env BS=${{ matrix.bs }} ./build/ci/github_actions/freebsd-firecracker.sh
